.mainHeader {
  background-color: #61a36e;
  background-image: url('assets/images/header.jpg');
  height: rem-calc(100);
  position: relative;

  @include flex;
  @include flex-align(center, middle);

  &-title {
    margin: 0;
    padding: 0;
  }
}